#banner{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}

#banner img{
    width: 95px;
    height: 70px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    color: #088178;
}
#hero{
    background-image: url("cartbanner1.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#featured{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#featured .fe-box{
    

    width: 25%;
    text-align: center;
    padding: 25px 15px 15px 15px ;
    justify-content: space-between;
   
}
.fe-box img{
    width: 280px;
    flex-wrap: wrap;
    display: flex;
    border: solid sienna;
    border-radius: 20px;
    
}
body{
    width: 100%;
}
#banner2 img{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
}
